* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}
.flex-container {
    width: 100%;
    background: lightgray;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.flex-item {
    padding: 1em;
    display: flex;
}

.flex-item a {
    color: black;

}
a{
    display: inline-block;
    text-decoration: none;
}
a:hover {
    color:blue;
}
#logo {
    font-size: 3em;
    padding: .2em;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
