body {
    margin: 0;
    font-family: Roboto, sans-serif;
}
.wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 5% repeat(3 , 1fr) repeat(4 , 5%);
    grid-template-columns: 20% 1fr 25%;
    grid-template-areas:
            "nav nav nav"
            "side-nav main-top ad-top"
            "side-nav main-mid ad-mid"
            "side-nav main-bottom ad-bottom"
            "side-nav page-list ."
            "side-nav footer footer"
            "side-nav footer footer"
            "side-nav bottom-footer bottom-footer";
}

.top-nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    background: black;
    grid-area: nav;

}

nav div a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: .5em;
}
.top-nav div:hover {
    background: darkgray;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}
.side-nav {
    grid-area: side-nav;
    display: flex;
    flex-direction: column;
    background: rgb(240 240 240);
}
.side-nav div {
    padding: 1em;
}
.side-nav a {
    color: black;
    text-decoration: none;
}
.main-top {
    display: flex;
    flex-direction: column;
    grid-area: main-top;
    padding: 1em;
}
.main-mid {
    display: flex;
    grid-area: main-mid;
    flex-direction: column;
    padding: 1em;
}
.main-bottom {
    display: flex;
    grid-area: main-bottom;
    flex-direction: column;
    padding: 1em;
}
h1 {
    color: rgb(62 141 131);
    font-weight: normal;
}
.ad-top {
    grid-area: ad-top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
#top-top-ad {
    border: 1px solid darkgray;
    width: 100%;
    height: 40%;
    margin: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#top-bot-ad {
    border: 1px solid darkgray;
    width: 100%;
    height: 60%;
    margin: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ad-mid {
    grid-area: ad-mid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
#mid-top-ad {
    border: 1px solid darkgray;
    width: 100%;
    height: 40%;
    margin: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mid-bot-ad {
    border: 1px solid darkgray;
    width: 100%;
    height: 60%;
    margin: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ad-bottom {
    grid-area: ad-bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
#bottom-top-ad {
    border: 1px solid darkgray;
    width: 100%;
    height: 40%;
    margin: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom-bot-ad {
    border: 1px solid darkgray;
    width: 100%;
    height: 60%;
    margin: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-list {
    grid-area: page-list;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-list  a {
    text-decoration: none;
    color: black;
    padding: .5em;
}
.page-list a:hover {
    background: black;
    color: white;
}
footer {
    grid-area: footer;
    background: rgb(102 102 102);
    color: white;
    display: flex;
    align-items: center;
    padding: 1em;
}
.bottom-footer {
    grid-area: bottom-footer;
    background: rgb(51 51 51);
    color: white;
    display: flex;
    align-items: center;
    padding: 1em;
    font-size: 10px;
}
.bottom-footer a {
    list-style-type: none;
    color: white;
}