body {
    font-family: 'Merriweather', serif;
    background: #D8DAD3;
}

.jumbotron {
    background: #37515F;
    height: 90vh;
}
.jumbotron p {
    font-family: 'Archivo Black', sans-serif;
    color: antiquewhite;
    font-size: 10em;
}
/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #37515F;
    height: 6em;
    z-index: 3;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 3em;

}
#navbar a:hover {
    background: #605F5E;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}
